<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex App</title>
    <link rel="stylesheet" href = "/css/app.css"/>
</head>

<body style="background-color: lightblue">
    <h1> Pokedex Index Page </h1>
    <ul>
        <li>
        <% for(var i = 0; i < allPokemon.length; i++){ %>
                <a href = "/pokedex/<%= i%>">
                    <%= allPokemon[i].name %> 
                    <img src = "<%= allPokemon[i].img %>"/>
        <form action = "/pokedex/<%=i; %>?_method=DELETE" method="POST" ><input type = "submit" value = "DELETE"></form>  
        <!-- Add edit link here  -->  
        <button type = "submit"> <a href="/pokedex/<%=i; %>/edit">Edit</a></button>        
        </li>
        <% } %>
          
       
  
        
        
      </ul>
      <nav>
        <a href="/pokedex/new">Create a New Pokemon</a>
    


</body>
</html>
